html {
    background-color: whitesmoke;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: whitesmoke;
}

h2 {
    color: gray;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: italic;
    color: black;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: whitesmoke;
}

section {
    margin-top: 1%;
    background: url('../img/contacto.jpg');  
    padding: 200px; 
    padding-top: 200px;

}

/*.clearfix::after {
    content: "";
    clear: both;
    display: table;
}*/

img {
    float: right;
    width: 50%;
}
