html {
    background-color: whitesmoke;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: whitesmoke;
}

h1{
    color: aquamarine;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    color: black;
    margin-right: 60%;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: whitesmoke;
}

section {
    background: url('../img/contacto.jpg'); 
    width: 100%; 
    padding: 200px; 
    padding-top: 200px;
}
